*{
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: row;
   
        background-image: url('./images/arriere5.png');
        background-repeat: no-repeat;
        background-size:cover;
    
       
        /* Ajoutez d'autres propriétés CSS si nécessaire */
    
}

.navbar{
    width: 150px;
    min-height: 100vh;
    padding: 1px 10px;
    z-index: 1;
    border-right: 3px solid #677adb;
}

.navbar p{
    font-size: 35px;
}

.plus{
    text-align: center;
    margin-top: 70px;
}

#plus{
    width: 50px;
    cursor: pointer;
}
@keyframes grow-shrink {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.grow-shrink {
    animation: grow-shrink 2s ease-in-out infinite;
}


.colors{
    width: max-content;
    text-align: center;
    margin-top: 50px;
    display: none;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    row-gap: 10px;
  
}



img{
    width: 30px;
    cursor: pointer;
}


.notes{
    width: 100%;
    min-height: 100vh;
    padding: 1px 10px;
    text-align: center;
}
.contentsearchsignout{
    display: flex;
    justify-content: space-between;
}

.divsearch{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.search{
    margin-top: 30px;
    width: 80%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding-left: 50px;
    font-size: 20px;
    
}

#searchicon {
    margin-top: 43px;
    margin-left: 10px;
    position: absolute;
}

.divsignout{
    display: flex;
    flex-direction: column;
  align-items: center;
}
#sign-out{
    margin-right: 10px;
    
}
.sign-outparagraph{
    margin-top: -3px;
    margin-right: 5px;
    font-size: 15px;
    text-align: center;
    color: #677adb;
}

.notescontent{
    margin-top: 70px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 50px;

}

.card{
    
    border-radius: 20px;
    cursor: pointer;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    resize: none;
    font-size: 17px;
}


.divcard{
    width: max-content;
    height: max-content;
    display: flex;
}
.divcard .closeicon{
    width: 20px;
    height: 20px;
    /*display: none;*/
}


/* Styles pour annuler la bordure lorsqu'elle est sélectionnée */
textarea:focus {
    outline: none; /* Supprime la bordure de sélection par défaut */
}

.deletediv{
    margin-top: 43px;
    width: 100%;
    height: max-content;


}

#deleteAll{
    width:50%; 
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    background-color: #e1e4f5;
    border: 2px solid #677adb;

}

#deleteAll:hover{
    background-color: #c7d0ff;
}



/* version mobile */

@media (max-width : 1024px){

}